---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Noviembre 2024 - Actualmente...",
    title: "Desarrollador Full Stack",
    company: "Gometrixs | Viacon Tours",
    description:
      "Durante mi desempeño en la empresa, participé en la implementación y mantenimiento de sistemas full stack, integrando APIs y Web Services REST y SOAP para procesos de facturación electrónica y servicios externos del sector turismo. Realicé optimización de bases de datos y consultas para mejorar el rendimiento del sistema, aplicando buenas prácticas y familiaridad con principios DevOps. Además, desarrollé y mantuve reportes operativos y funcionales para soporte a las áreas del negocio.",
  },
  {
    date: "Marzo 2024 - Noviembre 2024",
    title: "Auxiliar de Laboratorio",
    company: "UAGRM",
    description:
      "Me encargué del mantenimiento preventivo y correctivo de equipos y software, proporcionando soporte técnico y resolviendo incidencias. Garanticé la operatividad continua de los laboratorios, asegurando que los sistemas y equipos estuvieran disponibles y funcionando de manera óptima en todo momento.",
  },
  {
    date: "Marzo 2024 - Abril 2024",
    title: "Desarrollador Full Stack",
    company: "Twiiti",
    description:
      "Colaboré en la creación de sistemas personalizados para los clientes, abarcando todo el proceso desde el diseño de la base de datos hasta el desarrollo completo del frontend y backend.",
  },
  {
    date: "Junio 2023 - Septiembre 2023",
    title: "Desarrollador Full Stack",
    company: "Ificorp - BizManager",
    description:
      "Encargado del mantenimiento y mejora continua del software de la empresa, implementando nuevas funcionalidades para añadir valor y optimizar el rendimiento. Además, realizaba la reestructuración del sistema y corregía errores existentes para asegurar un funcionamiento eficiente y estable.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>